<template name="screen">
    <section class="bw-screen {{isFirst message.index}} {{classFromType message.type}}">
        <div class="bw-middle">
            <div class="bw-left-sidebar bw--slack"></div>
            <div class="bw-content">
                {{#if isText message.type}}
                    {{ > contentText text=message.data}}
                {{else}}
                    {{#if isImage message.type}}
                        {{ > contentImage imageUrl=message.data}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="bw-footer">
            <div class="logo">
                <img src="slack.png">
            </div>
            <div class="avatar">
                <img src="avatar.jpg">
            </div>
            <div class="bw-information">
                <div class="user-info">
                    <div class="name">
                        {{message.author}}
                    </div>
                    <div class="time">
                        {{fromNow message.timestamp}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
